*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: auto;
    margin-right: auto;
}

header{
    text-align: center;
    font-size: 25px;
}

#quote
{
    text-align: center;   
    width: 1000px;
}

#carmack-img{
    width: 950px;
    height: 550px;
    background-image: url(https://images.eurogamer.net/2015/articles/1/8/2/0/2/4/2/-1458817030009.jpg);
    background-size:cover;
}

#main-table{
    padding-left: 10%;
}

.date {
    background-color: white;
    width: 100px;
    height:7px;
    text-align: center;
    line-height: 26px;
    float: left;
    font-size: 14px;
    border-top: 2px solid #ccc;
    margin: -1px 0 0 0;
    padding: 0px 5px 6px 0px;
    clear: left;
    font-weight: bold;
}

.event {
    width: 625px;
    background: #f9f9f9;
    float: left;
    margin: 0;
    padding: 8px 12px 8px 8px;
    border-top: 1px solid #ccc;
    clear: right;
    font-size: 14px;
}

#summary-table{
    font-size: 15px;
    position: relative;
    margin-bottom: 2em;
    text-align: center;
    background-color: white;
}

#summary-table th{
    font-weight:bold;
    font-size: 26px;
    padding-left: 25%;
    padding-bottom: 20px;
}

img {
    align-self: center;
    padding-left: 10%;
    padding-right: 10%;
}

#summary-table td{
    vertical-align: top;
    border: 0;
    border-bottom: 3px solid #dddddd;
    padding-left: 0%;

}

#quote2 {
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
}

p{
    text-align: center;
    background-color:lightgray;
    width: 500px;
}
