*{
    font-family: 'Courier New', Courier, monospace;
}

#landing{
    border: #333333 solid 10px;
    padding-bottom: 1500px;
}

#landing-column{
    display: flex;
    width: 80%;
    margin: 1% auto 0% auto;
    border: black ridge 10px ;
}


#landing-column img{
    float: left;
    vertical-align: middle;
    width: 71%;
}

/*Landing Text*/
#landing-text{
    text-align: center;
    float: left;
    vertical-align: middle;
    margin-top: 0;
    padding: 15% 5% 18% 5%;

}

#landing-text h2{
    color: #666666;
}


