*{
    font-family: Helvetica, sans-serif, Arial;
    color: white;
    margin: 0;
}

#intro-bg-img{
    position: absolute;
    background-image: url(datacenter-server-rack.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 1000px;

    z-index: -1; /*Basically makes the layer -1 its current layer */
}